<div class="container" style="margin-top:30px">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="UJIAN FRONT END" src="...">
      </a>
    </div>
  </div>
</nav>
  <ul class="nav nav-tabs">
    <li class="active"><a routerLink="">User List</a></li>
    <li><a routerLink="add">Add User</a></li>
  </ul>
</div>

<div class="content-container">
    <router-outlet></router-outlet>
</div>
