<div class="row">
  <div class="col-md-offset-1 col-md-10">
<table class="table table-hover table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Company</th>
    <th>Action</th>
  </tr>
  <tr *ngFor= "let d of UserList; let i = index">
    <td>{{d.name}}</td>
    <td>{{d.email}}</td>
    <td>{{d.address.street}}</td>
    <td>{{d.company.name}}</td>
    <td><button (click)="remove(i)"  class="btn btn-danger">Remove</button></td>
  </tr> 
</table>
</div>
</div>